.App {
  text-align: center;
}

a{
  text-decoration: none;
}
.main_header {
    padding: 16px;
    background-color: #fff;
    border-bottom: #6504b5;
    margin-bottom: 30px;
}

.main_header>a {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #6504b5;
    font-size: 29px;
    font-weight: 600;
    font-family: "Alegreya",serif;
}

.main__wrapper{
  flex-direction: column;
}

.loading__wrapper, .main__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}